#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
html,
body,
#root {
  height: auto;
  overflow: auto;
}

.ant-layout {
  min-height: 100%;
}

.site-content {
  padding-top: 64px;
}
.banner-trailer {
  display: none !important;
}

.nav-tabs .ant-tabs-nav::before {
  display: none;
}
.nav-tabs .ant-tabs-nav {
  margin: 0;
  align-items: center;
}

@media (min-width: 768px) {
  .banner-trailer {
    display: block !important;
  }
}
